<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>192.168.99.91/wpms</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>192.168.99.91</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/wpms</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>Administrator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CellPhoneProjectEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=192.168.119.83;Initial Catalog=CellPhoneProject;User ID=sa;Password=SGR~1806*20;Application Name=EntityFramework" Name="Data Source=192.168.119.83;Initial Catalog=CellPhoneProject;User ID=sa;Password=SGR~1806*20;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ProjectManagement.DAL.DbModel.CellPhoneProjectEntities, ProjectManagement" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="RBSYNERGYEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=192.168.119.83;Initial Catalog=RBSYNERGY;User ID=sa;Password=SGR~1806*20;Application Name=EntityFramework" Name="Data Source=192.168.119.83;Initial Catalog=RBSYNERGY;User ID=sa;Password=SGR~1806*20;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ProjectManagement.DAL.DbModel.RBSYNERGYEntities, ProjectManagement" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MRPEntities" Order="7" Enabled="False">
          <Destination Path="Data Source=192.168.119.83;Initial Catalog=WALTON.MRP;Persist Security Info=True;User ID=sa;Password=SGR~1806*20;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ProjectManagement.DAL.DbModel.MRPEntities, ProjectManagement" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="WCMSEntities" Order="11" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ProjectManagement.DAL.DbModel.WCMSEntities, ProjectManagement" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ExcelImportConnectionString" Order="12" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.156.133;Initial Catalog=CellPhoneProject;User ID=sa;Password=r&amp;d!@#456" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ExcelImportConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=192.168.156.133;initial catalog=CellPhoneProject;user id=sa;password=r&amp;d!@#456;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="WSMSConnectionString" Order="13" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.119.83;Initial Catalog=WSMS;Persist Security Info=True;User ID=sa;Password=SGR~1806*20" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\WSMSConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=192.168.119.83;Initial Catalog=WSMS;Persist Security Info=True;User ID=sa;Password=SGR~1806*20" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="WSMTConnectionString" Order="14" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.2.123;Initial Catalog=WSMT;Persist Security Info=True;User ID=sa;Password=r&amp;d!@#456" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\WSMTConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=192.168.2.123;Initial Catalog=WSMT;Persist Security Info=True;User ID=sa;Password=r&amp;d!@#456;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="RbConnectionString" Order="15" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.119.83;Initial Catalog=RBSYNERGY;Persist Security Info=True;User ID=sa;Password=SGR~1806*20" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\RbConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=192.168.119.83;Initial Catalog=RBSYNERGY;Persist Security Info=True;User ID=sa;Password=SGR~1806*20" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="CellPhoneForExcel" Order="16" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.119.83;initial catalog=CellPhoneProject;persist security info=True;user id=sa;password=SGR~1806*20;MultipleActiveResultSets=True;App=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CellPhoneForExcel_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=192.168.119.83;initial catalog=CellPhoneProject;persist security info=True;user id=sa;password=SGR~1806*20;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CellPhoneProjectEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/DAL.DbModel.Model1.csdl|res://*/DAL.DbModel.Model1.ssdl|res://*/DAL.DbModel.Model1.msl;provider=System.Data.SqlClient;provider connection string="Data Source=192.168.119.83;Initial Catalog=CellPhoneProject;User ID=sa;Password=SGR~1806*20;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MRPEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/DAL.DbModel.MRP.csdl|res://*/DAL.DbModel.MRP.ssdl|res://*/DAL.DbModel.MRP.msl;provider=System.Data.SqlClient;provider connection string="Data Source=192.168.119.83;Initial Catalog=WALTON.MRP;Persist Security Info=True;User ID=sa;Password=SGR~1806*20;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)RBSYNERGYEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/DAL.DbModel.RBSY.csdl|res://*/DAL.DbModel.RBSY.ssdl|res://*/DAL.DbModel.RBSY.msl;provider=System.Data.SqlClient;provider connection string="Data Source=192.168.119.83;Initial Catalog=RBSYNERGY;User ID=sa;Password=SGR~1806*20;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)WCMSEntities-Web.config Connection String" />
  </ItemGroup>
</Project>